
<!DOCTYPE html>
<html ng-app="FretBayApp">
<head>
	<!-- FOR SEO -->
	
	
	<!-- General Settings -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta http-equiv="imagetoolbar" content="no">
	<link rel="shortcut icon" type="image/png" href="https://fretbay.com/fr/favicon.ico" />
	<meta name="robots" content="index, follow, all">
	<meta name="Language" content="fr">
	<meta name="Author" content="FretBay.com">
	<meta name="revisit-after" content="3">
	<meta name="Identifier-URL" content="">
	<meta name="Classification" content="Transport et déménagement">
	<meta name="Creation_Date" content="23/01/2008">
	<meta name="verify-v1" content="tNz0ODT49ruqP+0vtQerZIxCtVrZwKacOLhGmkce/z8=" >
	<meta name="google-site-verification" content="Z7Ub6Nx2wFIC6rnmcom4fva0_1QPLlkaME63mCAFZVY" >
	<meta name="google-site-verification" content="Q0xsUwljztwvKZzNB0e48NeVhh4RM4Vfk1e_ii_f7UY" >
	<!-- Social SEO -->	
	<meta property="fb:app_id" content="409748985780917" />
	<meta property="og:site_name" content="FretBay.com"/>
	<meta property="og:url" content="https://fretbay.com/fr/" />
	<meta property="og:locale" content="fr" />
	<meta property="og:type" content="article" />
	<meta property="article:author" content="https://www.facebook.com/168472786500639" />
	<meta property="article:publisher" content="https://www.facebook.com/168472786500639" />

		<style type="text/css">


	.custom-hide {display: none;} .custom-hide.custom-active {display: block;} .custom-hide.custom-show {display: inline-block;}
	


	#msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 20%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: white;
	background: black;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}



</style>
	<title>Faites votre devis déménagement ou transport avec Kawai</title>
	<link  href="css/lux_google_homepage.min.css"  ref="stylesheet" >


	<meta property="og:image" content="https://fretbay.com/fr/https://fretbay.com/fr/images/home/footer-logo.png" />

	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />=


	<!-- FOR SEO END -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900" rel="stylesheet">
	<link rel="stylesheet" href="https://fretbay.com/fr/assets/vendors/vendors.bundle.css?v=0.0.6">
	<link rel="stylesheet" href="https://fretbay.com/fr/assets/vendors/angular.bundle.css?v=0.0.6">
	<link rel="stylesheet" href="https://fretbay.com/fr/assets/css/pages/shipper/postJob.css?v=1558903443">
</head>
<body ng-controller="annonceStep1Controller" class="fluid-page sticky-mini-footer  mobile-native-">
	
		<script src="https://fretbay.com/fr/frv2/assets/vendors/moment.min.js?v=0.0.5"></script>
		<script src="https://fretbay.com/fr/frv2/assets/vendors/angular.js?v=0.0.5"></script>
		<script src="https://fretbay.com/fr/frv2/assets/js/common/socket.io.js?v=0.0.5" type="text/javascript"></script>
		<script src="https://fretbay.com/fr/frv2/assets/vendors/socket.min.js?v=0.0.5"></script>
		<script src="https://fretbay.com/fr/frv2/assets/js/common/app.js?v=1558903443"></script>
		<script src="https://fretbay.com/fr/frv2/assets/js/controllers/common/headerController.js?v=1558903443"></script>


	



		<div ng-controller="headerController" ng-init="setObject({headerData: null || {}, currentLang: ('fr' || 'fr'), siteUrl: 'https://fretbay.com', idsess: '', siteUrlFrv2: 'https://fretbay.com/fr/frv2/', id_offer: '0'})" class="">
		<div class="">
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container" >
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle custom-nav-btn collapsed" data-toggle="collapse" data-target="#navbar-main">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar top-bar"></span>
					<span class="icon-bar middle-bar"></span>
					<span class="icon-bar bottom-bar"></span>
				</button>
				<a class="navbar-brand" href="https://fretbay.com/fr/"><img src="https://fretbay.com/fr/frv2/assets/images/common/logos/logo-header.svg?v=0.0.0" alt=""><strong>FretBay</strong></a>
			</div>
	
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div id="navbar-main" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-left">
					<li><a href="https://fretbay.com/fr/annonces.php">Trouver des chargements</a></li>
					<li><a href="https://fretbay.com/fr/le-déménagement-FretBay">Comment ça marche ?</a></li>
										<li><a target="_blank" href="http://blog.fretbay.com">Blog</a></li>
								</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="request-quote active"><a href="https://fretbay.com/fr/shipper/trouver-un-transporteur">Demande de devis</a></li>
					<li class=""><a href="https://fretbay.com/fr/etape.php">S'inscrire</a></li>
					<li class=""><a href="https://fretbay.com/fr/conec.php">Se connecter</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div>
	</div>
</div>		</div>

			<div class="container">
					<form id="msform">
						<ul id="progressbar" style="position: absolute;
						background: #3D4E60;
						margin-bottom: -60px;
						padding-top: 21px;
						color: #fff;
						/* background: #3d4fe547; */
						/* left: 900px; */
						/* left: 900px; */
						/* margin-right: 69px; */
						margin-left: -626px;
						padding-left: -146px;
						width: 398%;
						margin-top: -49px;
						padding-bottom: 6px;">
								<li class="active">Age</li>
								<li> Diabetes type</li>
								<li>Treament type</li>
								<li>Average Fast Glucose</>
								<li>Average postprandial Glucose</> 
						 </ul>
						</form>
				</div>
			
	
		<div class="container" style="height: 400px;">

				<form id="msform">
						<!-- progressbar -->
						
						
						<!-- fieldsets -->
						<fieldset>
							<h2 class="fs-title">PATIENT AGE</h2>
							<h3 class="fs-subtitle">This is step 1</h3>
							<input type="number" name="quantity" min="30" max="50" placeholder="Age?">

			

							<select >
									<option ><i class="fas fa-camera"></i></option>
									<option ><i class="fas fa-camera"></i></option>
									<option ><i class="fas fa-camera"></i></option>
									<option ><i class="fas fa-camera"></i></option>
									<option ><i class="fas fa-camera"></i></option>
									
								  </select>


					<input type="button" name="next" class="next action-button" value="Next" />
						</fieldset>
						<fieldset>
							<h2 class="fs-title">Diabetes type</h2>
							<h3 class="fs-subtitle">What type of diabetes do you have?</h3>
							<select>
					  <option value="a">Diabetes Type A</option>
					  <option value="b">Diabetes Type B</option>
					</select>
					  </br>
							<input type="button" name="previous" class="previous action-button" value="Previous" />
							<input type="button" name="next" class="next action-button" value="Next" />
						</fieldset>
					<fieldset>
							<h2 class="fs-title">Treament Type</h2>
							<h3 class="fs-subtitle"></h3>
							<select>
					  <option value="a">Insuline</option>
					  <option value="b">Oral Treament</option>
					</select>
					  </br>
							<input type="button" name="previous" class="previous action-button" value="Previous" />
							<input type="button" name="next" class="next action-button" value="Next" />
						</fieldset>
					<fieldset>
							<h2 class="fs-title">Average Fast Glucose</h2>
							<h3 class="fs-subtitle"></h3>
							<input type="number" name="quantity" min="30" max="50" placeholder="Average Fast Glucose?">
					  </br>
							<input type="button" name="previous" class="previous action-button" value="Previous" />
							<input type="button" name="next" class="next action-button" value="Next" />
						</fieldset>
						<fieldset>
							<h2 class="fs-title">Details</h2>
							<h3 class="fs-subtitle">HBA1C</h3>
							<input name="name" placeholder="HBAA1C" class="name" required />
							<input type="button" name="previous" class="previous action-button" value="Previous" />
							<input type="submit" name="submit" class="submit action-button" value="Calculate" />
						</fieldset>
					</form>


		</div>
	</div>


	<!-- Photo Viewer -->
	<div class="modal fade" id="photoViewer">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
	            <div class="modal-body my-10" data-slim-scroll="">
	            	<img ng-if="pageData.selectedImg" ng-src="{{pageData.selectedImg}}" alt="">
	            </div>
	            <div class="modal-footer bg-white">
	            	<button type="button" class="btn btn-primary" data-dismiss="modal">Fermer la fenêtre</button>
	            </div>
			</div>
		</div>
	</div>

	<!-- Confirmation Modals -->
	<div class="modal fade" id="deleteArticleConfirmation">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
	        	<div class="default-content">
		            <div class="modal-body my-10">
		            	<p class="text-bold text-lg">{{pageData.annonceStep1Translation.ARE_YOU_SURE}}</p>
		            </div>
		            <ul class="list-inline">
		            	<li><button type="button" class="btn btn-gray" data-dismiss="modal">{{pageData.annonceStep1Translation.CANCEL}}</button></li>
		            	<li><a href="javascript:void(0);" ng-click="deleteArticle($index)" data-dismiss="modal" class="btn btn-danger">{{pageData.annonceStep1Translation.REMOVE}}</a></li>
		            </ul>
	        	</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="deleteImageConfirmation">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
	        	<div class="default-content">
		            <div class="modal-body my-10">
		            	<p class="text-bold text-lg">{{pageData.annonceStep1Translation.ARE_YOU_SURE}}</p>
		            </div>
		            <ul class="list-inline">
		            	<li><button type="button" class="btn btn-gray" data-dismiss="modal">{{pageData.annonceStep1Translation.CANCEL}}</button></li>
		            	<li><a href="javascript:void(0);" ng-click="deleteImage($index)" data-dismiss="modal" class="btn btn-danger">{{pageData.annonceStep1Translation.REMOVE}}</a></li>
		            </ul>
	        	</div>
			</div>
		</div>
	</div>


<!-- _____    ___     ___    _____   _____   ____  
	|  ___|  / _ \   / _ \  |_   _| | ____| |  _ \ 
	| |_    | | | | | | | |   | |   |  _|   | |_) |
	|  _|   | |_| | | |_| |   | |   | |___  |  _ < 
	|_|      \___/   \___/    |_|   |_____| |_| \_\ -->

				<div id="footer" class="mini-footer text-xs-center">
				<div class="footer-main">
					<div class="container">
				    	<div class="row">
				    		<div class="col-sm-8">
						        <ul class="footer-menu list-unstyled list-inline">
						            <li>
						                <a href="https://fretbay.com/fr/presse.php?idsess=">Presse et médias</a>
						            </li>
						            						            <li>
						                <a target="_blank" href="http://blog.fretbay.com">Blog</a>
						            </li>
						        						            <li>
						                <a href="https://fretbay.com/fr/qui-sommes-nous?idsess=">Qui sommes-nous ?</a>
						            </li>
						            <li>
						                <a href="https://fretbay.com/fr/contact?idsess=">Nous contacter</a>
						            </li>
						            <li>
						                <a href="https://fretbay.com/fr/condition.php?idsess=">Conditions Générales</a>
						            </li>
						        </ul>
				    		</div>
				    		<div class="col-sm-4">
						        <ul class="list-inline social-links text-sm-right text-xs-center">
									<li><a target="_blank" href="https://www.linkedin.com/company/fretbay"><img src="https://fretbay.com/fr/frv2/assets/images/common/social/blue/li.svg" alt=""></a></li>
									<li><a target="_blank" href="https://twitter.com/#!/fretbay"><img src="https://fretbay.com/fr/frv2/assets/images/common/social/blue/tw.svg" alt=""></a></li>
									<li><a target="_blank" href="https://www.facebook.com/168472786500639"><img src="https://fretbay.com/fr/frv2/assets/images/common/social/blue/fb.svg" alt=""></a></li>
									<li><a target="_blank" href="https://plus.google.com/+fretbay"><img src="https://fretbay.com/fr/frv2/assets/images/common/social/blue/gplus.svg" alt=""></a></li>
									<li><a target="_blank" href="https://www.youtube.com/user/fretbaytv"><img src="https://fretbay.com/fr/frv2/assets/images/common/social/blue/yt.svg" alt=""></a></li>
									<li><a target="_blank" href="https://fr.wikipedia.org/wiki/FretBay"><img src="https://fretbay.com/fr/frv2/assets/images/common/social/blue/wiki.svg" alt=""></a></li>
								</ul>
				    		</div>
				    	</div>
					</div>
				</div>
		    	<div class="footer-bottom-frv2">
		    		<div class="container">
    					<p><strong><a class="fretbay-link" href="https://fretbay.com/fr/">FretBay</a> SAS au capital de 431 546&euro; &copy;</strong> 2019 Tous droits réservés</p>
    					<p>L'utilisation de ce site Web implique l'acceptation des <a class="text-bold" href="https://fretbay.com/fr/condition.php?idsess=">Conditions Générales</a></p>
    					
    					<p>31 rue de Reuilly 75012 Paris, France 
    					    						(0)825.422.423 <span class="text-small">0,18€ ttc/minute</span>
    					    					</p>
    					<p>N° de SIRET : 502.134.208.00037 N° TVA : FR08502134208</p>
    					<strong>
    												
							<a target="_blank" href="https://fr.trustpilot.com/review/www.fretbay.com" title="">
                                Commentaires &amp; Avis clients certifiés par TrustPilot - 
                                <span itemprop="itemreviewed">FretBay</span>
                                <span itemprop="votes" id="trustPilot-totalReviews">3467</span>
								évaluations: 
                                <span itemprop="rating" itemscope="" itemtype="http://data-vocabulary.org/Rating">
                                	<span itemprop="average" id="trustPilot-trustScore">8.6</span>/<span itemprop="best">10</span> 
                            	</span>
                            </a>
    					</strong>
		    		</div>
		    	</div>
			</div>

					<!-- Google Tag Manager (noscript) -->
			<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MZKVVTQ"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
			<!-- End Google Tag Manager (noscript) -->
			
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-33460216-1"></script>
			<script>
			  window.dataLayer = window.dataLayer || [];
			  function gtag(){dataLayer.push(arguments);}
			  gtag('js', new Date());

			  gtag('config', 'UA-33460216-1');
			</script>
			<script type="text/javascript">
			    window.smartlook||(function(d) {
			    var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
			    var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
			    c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
			    })(document);
			    smartlook('init', '6abe2f60d54d716fc55805616635d2b77a1f0fb8');
			</script>
						<style>
			.page-loader {
				position: fixed;
				background: rgba(255,255,255, 0.9);
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 99999;
				text-align: center;
			}
			.page-loader img {
				margin-top: calc(50vh - 34px);
			}
		</style>
		<div class="page-loader custom-hide"><img src="https://fretbay.com/fr/frv2/assets/images/common/icons/general/loader.gif" alt=""></div>
			

	<!-- Note: Do not change order -->
	<!-- google-places -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYOrPJu6E4FJp7mP20xPbiU4FQGYQQU-0&libraries=places"></script>
	<!-- angular -->
	<script src="https://fretbay.com/fr/assets/vendors/vendors.bundle.js?v=0.0.5" type="text/javascript"></script>
	<script src="https://fretbay.com/fr/assets/vendors/autocomplete.min.js?v=0.0.5" type="text/javascript"></script>
	<script src="https://fretbay.com/fr/assets/vendors/ng-slim-scroll.min.js?v=0.0.5" type="text/javascript"></script>
	<script src="https://fretbay.com/fr/assets/vendors/angular-sanitize.min.js?v=0.0.5" type="text/javascript"></script>
	<script src="https://fretbay.com/fr/assets/vendors/paging.min.js?v=0.0.5" type="text/javascript"></script>
	<script src="https://fretbay.com/fr/assets/vendors/select.js?v=0.0.5" type="text/javascript"></script>
	<script src="https://fretbay.com/fr/assets/js/common/helper.js?v=1558903443" type="text/javascript"></script>
	<script src="https://fretbay.com/fr/assets/js/common/helperVolumeCalculator.js?v=1558903443" type="text/javascript"></script>
	<script src="https://fretbay.com/fr/assets/js/common/helperArrays.js?v=1558903443" type="text/javascript"></script>
	<script src="https://fretbay.com/fr/assets/js/common/helperUploads.js?v=1558903443" type="text/javascript"></script>
	<script src="https://fretbay.com/fr/assets/js/common/helperDateTime.js?v=1558903443" type="text/javascript"></script>
	<!-- directives -->
	<script src="https://fretbay.com/fr/assets/js/common/fileUploader.js?v=0.0.5" type="text/javascript"></script>
	<!-- page scripts -->
	<script src="https://fretbay.com/fr/assets/js/common/isotope.min.js?v=0.0.5" type="text/javascript"></script>
	<script src="https://fretbay.com/fr/assets/js/common/script.js?v=1558903443" type="text/javascript"></script>
	<script src="https://fretbay.com/fr/assets/js/controllers/shipper/annonceStep1Controller.js" type="text/javascript"></script>
	<!-- angular end -->

	<script src="http://thecodeplayer.com/uploads/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <!-- jQuery easing plugin -->
    <script src="http://thecodeplayer.com/uploads/js/jquery.easing.min.js" type="text/javascript"></script>

    <script>

        
//jQuery time
var current_fs, next_fs, previous_fs; //fieldsets
var left, opacity, scale; //fieldset properties which we will animate
var animating; //flag to prevent quick multi-click glitches

$(".next").click(function(){
	if(animating) return false;
	animating = true;
	
	current_fs = $(this).parent();
	next_fs = $(this).parent().next();
	
	//activate next step on progressbar using the index of next_fs
	$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
	
	//show the next fieldset
	next_fs.show(); 
	//hide the current fieldset with style
	current_fs.animate({opacity: 0}, {
		step: function(now, mx) {
			//as the opacity of current_fs reduces to 0 - stored in "now"
			//1. scale current_fs down to 80%
			scale = 1 - (1 - now) * 0.2;
			//2. bring next_fs from the right(50%)
			left = (now * 50)+"%";
			//3. increase opacity of next_fs to 1 as it moves in
			opacity = 1 - now;
			current_fs.css({
        'transform': 'scale('+scale+')',
        'position': 'absolute'
      });
			next_fs.css({'left': left, 'opacity': opacity});
		}, 
		duration: 800, 
		complete: function(){
			current_fs.hide();
			animating = false;
		}, 
		//this comes from the custom easing plugin
		easing: 'easeInOutBack'
	});
});

$(".previous").click(function(){
	if(animating) return false;
	animating = true;
	
	current_fs = $(this).parent();
	previous_fs = $(this).parent().prev();
	
	//de-activate current step on progressbar
	$("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
	
	//show the previous fieldset
	previous_fs.show(); 
	//hide the current fieldset with style
	current_fs.animate({opacity: 0}, {
		step: function(now, mx) {
			//as the opacity of current_fs reduces to 0 - stored in "now"
			//1. scale previous_fs from 80% to 100%
			scale = 0.8 + (1 - now) * 0.2;
			//2. take current_fs to the right(50%) - from 0%
			left = ((1-now) * 50)+"%";
			//3. increase opacity of previous_fs to 1 as it moves in
			opacity = 1 - now;
			current_fs.css({'left': left});
			previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
		}, 
		duration: 800, 
		complete: function(){
			current_fs.hide();
			animating = false;
		}, 
		//this comes from the custom easing plugin
		easing: 'easeInOutBack'
	});
});

$(".submit").click(function(){
	return false; 
})


$('#mySelect').selectpicker();
    
    </script>


</body>
</html>